<!-- BACK TO TOP -->
<div class="btn-back-to-top bg0-hov" id="myBtn" style="display:none;">
    <span class="symbol-btn-back-to-top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
  </div>
  
  <!-- SCRIPTS LOCALES (sin “.descarga”) -->
  <script src="../js/utils.js" defer></script>
  <script src="../../module/home/model/validate_home.js" defer></script>
  <script src="./fashe-theme_files/jquery-3.2.1.min.js"></script>
  <script src="./fashe-theme_files/animsition.min.js"></script>
  <script src="./fashe-theme_files/popper.js"></script>
  <script src="./fashe-theme_files/bootstrap.min.js"></script>
  <script src="./fashe-theme_files/select2.min.js"></script>
  <script src="./fashe-theme_files/slick.min.js"></script>
  <script src="./fashe-theme_files/slick-custom.js"></script>
  <script src="./fashe-theme_files/countdowntime.js"></script>
  <script src="./fashe-theme_files/lightbox.min.js"></script>
  <script src="./fashe-theme_files/sweetalert.min.js"></script>
  <script src="./fashe-theme_files/parallax100.js"></script>
  <script src="./fashe-theme_files/main.js"></script>
  <script src="./fashe-theme_files/owl.carousel.min.js"></script>
  <script src="./fashe-theme_files/common.js"></script>
  <script src="./fashe-theme_files/jquery.magnific-popup.min.js"></script>
  <script src="./fashe-theme_files/quickview.js"></script>
  <script src="./fashe-theme_files/jquery.cookie.js"></script>
  <script src="./fashe-theme_files/toastr.min.js"></script>
  
  </body>
  </html>
  