
<!-- BREADCRUMBS -->
<div class="breadcrumbs"><div class="container"></div></div>

<!-- MAIN CONTENT -->
<div class="contentforlayout">

  <!-- SECTION: SLIDER -->
  <section class="slide1">
    <div class="wrap-slick1">
      <button class="arrow-slick1 prev-slick1"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <div class="slick1">
        <!-- Slide 1 -->
        <div class="item-slick1 item1-slick1" style="background-image: url('./fashe-theme_files/fondo1.webp');">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center m-b-15">Bags Collection 2025</span>
            <h2 class="caption2-slide1 xl-text1 t-center m-b-37">New arrivals</h2>
            <div class="wrap-btn-slide1 w-size1">
              <a href="#" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">Shop Now</a>
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="item-slick1 item2-slick1" style="background-image: url('./fashe-theme_files/fondo2.jpg');">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center m-b-15">Watches Collection 2025</span>
            <h2 class="caption2-slide1 xl-text1 t-center m-b-37">New arrivals</h2>
            <div class="wrap-btn-slide1 w-size1">
              <a href="#" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">Shop Now</a>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="item-slick1 item3-slick1" style="background-image: url('./fashe-theme_files/fondo1.webp');">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center m-b-15">Women Collection 2018</span>
            <h2 class="caption2-slide1 xl-text1 t-center m-b-37">New arrivals</h2>
            <div class="wrap-btn-slide1 w-size1">
              <a href="#" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <button class="arrow-slick1 next-slick1"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
  </section>

<!-- SECTION: BANNER DE CATEGORÍAS -->
<section class="banner bgwhite p-t-40 p-b-40">
  <div class="container">


    <!-- Fila 2: 3 elementos (Sunglasses / Watches / Bags) -->
    <div class="row" id="categorias-prinicipales">

    </div>

  </div>
</section>


  <!-- SECTION: FEATURED (New Product) -->





  
  <!-- SECTION: FEATURED (New Product) -->
  <div class="container-cards">
    <h2 class="titulo_a">Nuestras mejores Marcas</h2>
    <div class="card__container" id="marcas">
    </div>
  </div> 

  <div class="container-cards">
    <h2 class="titulo_a">Encuentra en tu ciudad</h2>
    <!-- Aquí aplicamos la clase que Slick usará como carrusel -->
    <div class="card__container" id="categorias">
      <!-- Tus artículos se añadirán por AJAX, en tu caso, con `cargarciudad()` -->
    </div>
  </div>
  <!-- SECTION: BANNER2 -->
  <section class="banner2 bg5 p-t-55 p-b-55">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
          <div class="hov-img-zoom pos-relative">
            <a href="#"><img src="./fashe-theme_files/banner-08_720x539.jpg" alt="Lookbook"></a>
            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
              <span class="m-text9 p-t-45 fs-20-sm">The Beauty</span>
              <h3 class="l-text1 fs-35-sm">Lookbook</h3>
              <a href="#" class="s-text4 hov2 p-t-20">View Collection</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
          <!-- Ejemplo de countdowntime con imagen -->
          <div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
            <a href="#"><img src="./fashe-theme_files/shop-item-09_720x539.jpg" alt=""></a>
            <div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
              <div class="t-center">
                <a href="#" class="dis-block s-text3 p-b-5">Boxy2 T-Shirt with Roll Sleeve</a>
                <span class="block2-price m-text6 p-r-5">$20.00</span>
              </div>
              <div class="flex-c-m p-t-44 p-t-30-xl">
                <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                  <span class="m-text10 p-b-1 days" id="days">0</span>
                  <span class="s-text5">days</span>
                </div>
                <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                  <span class="m-text10 p-b-1 hours" id="hours">0</span>
                  <span class="s-text5">hrs</span>
                </div>
                <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                  <span class="m-text10 p-b-1 minutes" id="minutes">0</span>
                  <span class="s-text5">mins</span>
                </div>
                <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                  <span class="m-text10 p-b-1 seconds" id="seconds">0</span>
                  <span class="s-text5">secs</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Script countdown (simple) -->
          <script>
            // Ejemplo sencillo: sin fecha real
            setInterval(function() {
              document.getElementById("days").textContent = "5";
              document.getElementById("hours").textContent = "12";
              document.getElementById("minutes").textContent = "23";
              document.getElementById("seconds").textContent = "41";
            }, 1000);
          </script>
        </div>
      </div>
    </div>
  </section>





  <!-- SECTION: SHIPPING -->
  <section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">Free Delivery Worldwide</h4>
        <span class="s-text11 t-center">Mirum est notare quam littera gothica</span>
      </div>
      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon1">
        <h4 class="m-text12 t-center">30 Days Return</h4>
        <span class="s-text11 t-center">Simply return it within 30 days</span>
      </div>
      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">Store Opening</h4>
        <span class="s-text11 t-center">Shop open from Monday to Sunday</span>
      </div>
    </div>
  </section>

</div>
<!-- END MAIN CONTENT -->
